# Change domain and email values to your own

---
Resources:
  sslSecurityGroupIngress:
    Properties:
      CidrIp: 0.0.0.0/0
      FromPort: 443
      GroupId:
        ? "Fn::GetAtt"
        :
          - AWSEBSecurityGroup
          - GroupId
      IpProtocol: tcp
      ToPort: 443
    Type: "AWS::EC2::SecurityGroupIngress"

files:
  /etc/cron.d/certbot_renew:
    content: "@weekly root certbot renew\n"
    group: root
    mode: "000644"
    owner: root

container_commands:
  10_installcertbot:
    command: "sudo dnf install -y certbot"
  20_stopnginx:
    command: "sudo service nginx stop"
  30_getcert:
    command: "sudo certbot certonly --debug --non-interactive --email your@email.com --agree-tos --standalone --domains test.test.com --keep-until-expiring"
  40_link:
    command: "sudo ln -sf /etc/letsencrypt/live/test.test.com /etc/letsencrypt/live/ebcert"
  50_startnginx:
    command: "sudo service nginx start"
